/Game/**/Binaries/
/Game/**/Intermediate/
/Game/DerivedDataCache/
/Game/Plugins/
/Game/Scripts/
/Game/Source/SpatialGDK/
/Game/Saved/
/Game/Sdk.sln
/Game/Sdk.VC.*
target.spatialos_worker_packages.json.md5
