/Game/**/Binaries/
/Game/**/Intermediate/
/Game/DerivedDataCache/
/Game/Plugins/
/Game/Scripts/
/Game/Source/SpatialGDK/Legacy
/Game/Source/SpatialGDK/Generated
/Game/Source/SpatialGDK/Public
/Game/Source/SpatialGDK/Private
/Game/Source/SpatialGDK/SpatialGDK.build.cs
/Game/Source/SpatialGDK/.gitignore
/Game/Saved/
/Game/Sdk.sln
/Game/Sdk.VC.*
target.spatialos_worker_packages.json.md5

