/Game/**/Binaries/
/Game/**/Intermediate/
/Game/DerivedDataCache/
/Game/Plugins/
/Game/Scripts/
Game/Source/SpatialGDK/*
!Game/Source/SpatialGDK/Public
Game/Source/SpatialGDK/Public/*
!Game/Source/SpatialGDK/Public/WorkerSdk
Game/Source/SpatialGDK/Public/WorkerSdk/*
!Game/Source/SpatialGDK/Public/WorkerSdk/mock
!Game/Source/SpatialGDK/Private
Game/Source/SpatialGDK/Private/*
!Game/Source/SpatialGDK/Private/WorkerSdk
Game/Source/SpatialGDK/Private/WorkerSdk/*
!Game/Source/SpatialGDK/Private/WorkerSdk/mock

/Game/Saved/
/Game/Sdk.sln
/Game/Sdk.VC.*
target.spatialos_worker_packages.json.md5

spatial/schema/improbable/unreal/gdk